html, body{
  height: 100%;
}

html{
  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: top;
}

.convidado{
  border:solid;
  margin: 10 10 10 10;
  text-align:center;
  width:150px;
}

.convidado h2{
  margin: 4 0 12 0;
}

.div_presente{ color: green; }
.div_ausente{ color: red; }

.botao{
    border: none;
    color: white;
    padding: 6px 10px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.botao_presente { background-color: green; }
.botao_ausente { background-color: red; }
