html, body{
  height: 100%;
  width: 70% 
}

html{
  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: top;
}

.convidado{
  border:solid;
  margin: 10 10 10 10;
  text-align:center;
  width:150px;
}

.convidado h2{
  margin: 4 0 12 0;
}

.div_presente{ color: green; }
.div_ausente{ color: red; }

.botao{
    border: none;
    color: white;
    padding: 6px 10px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.botao_presente { background-color: green; }
.botao_ausente { background-color: red; }
.botao_acao { background-color: blue; }

.cabecalho{
  background-color:gray;
  display:flex;
  padding: 20 20 20 20;
  font-weight: bold;
  color:white;
}

.cabecalho_1{
  width:70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cabecalho_2{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-center{
  display: grid;
  justify-content: center;
}

.login{
  margin: auto;
  margin-top: 10%;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.submit_login{
  width: 100%;
}
